# # # # # # # # # # # # # # # # # # # # # # # # # # #
#    ___ _____  __  _    ___ ___   _   _____   __   #
#   | __/ __\ \/ / | |  | __/ __| /_\ / __\ \ / /   #
#   | _|\__ \>  <  | |__| _| (_ |/ _ \ (__ \ V /    #
#   |___|___/_/\_\ |____|___\___/_/ \_\___| |_|     #
#                                                   #
#     Discord: http://discord.esx-framework.org/     #
#     Website: https://esx-framework.org/           #
#     CFG Docs: https://aka.cfx.re/server-commands  #
# # # # # # # # # # # # # # # # # # # # # # # # # # #


# Editable Settings
# -----------------
# You can edit the following:

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Set Tags
sets tags "default, deployer, esx, esx legacy, legacy, official, roleplay"

# Optional Editable Settings

sv_enforceGameBuild 3095 ## DLC Chop Shop

# --------------------------
# You may edit the following:

sv_licenseKey "cfxk_gZ3typ4CIUwy2YUma9MK_4QTtVh"
sv_hostname "Rainbow V2"
sets sv_projectName " Rainbow V2"
sets sv_projectDesc "Votre description"
set mysql_connection_string "mysql://u16_pRLMGAzzBA:1C@L570C4SX@CPgOZEp4Izel@194.87.217.85/s16_txadmin?charset=utf8mb4"
load_server_icon esxLogo.png
sv_maxclients 10

# System Administrators
# ---------------------
# Add system admins

add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_principal identifier.fivem:1060435 group.admin #_Emy

# pma-voice Config
# ----------------
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

# ESX Language (edit to change the language of ESX)
# -----------------------------------------------------------
setr esx:locale "fr"

# Default & Standalone Resources
# ------------------------------
ensure chat
ensure spawnmanager
ensure hardcap
ensure oxmysql
ensure bob74_ipl

# ESX Legacy Core
# ----------
ensure [core]

# ESX Addons
# ----------
ensure [standalone]
ensure [esx_addons]

# Additional Resource
# -------------------
ensure pma-voice

exec add.cfg